
.parentcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh; /* Ensure the container takes the full viewport height */
}
.btnz{
    background-color: #347da7;
    color: white;
}
.btnz:hover{
    background-color:#ACBBDA;
    color: white;
}

.sebn-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
 
}
.formcontainer {
    display: flex; /* Add flex display to center the form */
    justify-content: center; /* Center horizontally */

    width: 78%;
}

.formcontainer form {
    width: 50%; /* Adjust the width as needed */
    padding: 30px;
    background-color: rgba(240, 248, 255, 0.5);
    border-radius: 30px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    
}

.formcontainer form input {
    width: 100%; /* Make input fields take the full width of the form */
}
.formcontainer form button[type="submit"] {
    display: block; /* Make the button a block-level element */
    margin: 10px auto 0 auto; /* Center the button horizontally and add */

}

  /* Hide the increase/decrease arrows in input[type=number] for Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the increase/decrease arrows in input[type=number] for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.alert-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    
}
.alert-container .alert{
    border-radius: 15px !important;
}
.icon{
    margin-top: -4px;
    margin-right: 5px;
}