.parent-container {
    display: flex;
    flex-direction: column; /* Ensure items are stacked vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; 
  }
  .table {
    width: 100%;
    border-radius: 10px !important;
    overflow: hidden;
     border-spacing: 0; /* Remove spacing between cells */
    border-radius: 18px;
    --bs-table-bg: aliceblue;
  

  }

  .table-container{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;  
  }
  .add-user-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
 
  
  
  