
.parent-container {
    display: flex;
    flex-direction: column; /* Ensure items are stacked vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; 
  }
  .table {
    width: 100%;
    border-radius: 10px !important;
    overflow: hidden;
     border-spacing: 0; /* Remove spacing between cells */
    border-radius: 18px;
    --bs-table-bg: aliceblue;
  

  }
  .table td {
    line-height: 1; /* Adjust line height as needed */
    padding: 10px; /* Adjust padding to control spacing */
}
  .table th {
    line-height: 2.5; /* Adjust line height as needed */
    
    background-color: rgba(52, 157, 167,0.22) !important;
}


.table td {
    line-height: 1.2; /* Adjust line height as needed */
    padding: 5px; /* Adjust padding to control spacing */
}
  .table-container{
    margin-top: 0px;
    margin-bottom: 10px;
    width: 94% !important;  
  }
  .add-user-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
  }
 
  .add-user-container a{
    background-color: rgba(52, 125, 167, 0.7) !important;
    color: white;
  }
   .add-user-container a:hover{
      background-color: #ACBBDA !important;
      color: white;
    }
    
    .parent-container {
      display: flex;
      flex-direction: column; /* Ensure items are stacked vertically */
      align-items: center; /* Center items horizontally */
      justify-content: center; 
    }
    .table {
      width: 100%;
      border-radius: 10px !important;
      overflow: hidden;
       border-spacing: 0; /* Remove spacing between cells */
      border-radius: 18px;
      --bs-table-bg: aliceblue;
    
  
    }
    .table td {
      line-height: 1; /* Adjust line height as needed */
      padding: 5px; /* Adjust padding to control spacing */
  }.table td {
      line-height: 1.2; /* Adjust line height as needed */
      padding: 5px; /* Adjust padding to control spacing */
  }
    .table-container{
      margin-top: 5px;
      margin-bottom: 10px;
      width: 90%;  
    }
    .add-user-container {
      width: 30%;
    
      
    }
   
    .add-user-container a{
      background-color: rgba(52, 125, 167, 0.7) !important;
      color: white;
      padding: 15px 15px;
    }
     .add-user-container a:hover{
        background-color: #ACBBDA !important;
        color: white;
      }  
    .add-user-container .btn2{
      background-color: rgba(96, 30, 61, 0.7) !important;
      color: white;
      padding: 7px 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 12px 3px !important;
     
    }
     .add-user-container .btn2:hover{
        background-color: #ACBBDA !important;
        color: white;
      }  

      .btn2 svg{
       margin-right: 2px;
      }
   
      .SortSettingcontainer {
        background-color: rgba(255, 255, 255, 0.3); /* Set background color to blue */
        padding: 0px; /* Add padding for spacing */
        display: flex;
        justify-content:space-around; /* Distribute space between items */
        align-items: center; /* Align items vertically */
        width: 90%;
        border: 2px solid #000000; /* Add border around container */
        margin-top: 5px;
        border-radius: 10px;
    }
    .SortSettingcontainer .title{
      width: 200px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 5px;
    }
    .SortSettingcontainer .title h2{
     margin: 0px;
     font-weight: bolder;
    }
    
    .SortSettingcontainer select {
        margin-right: 0px; /* Add margin between dropdowns */
    }
    
    .SortSettingcontainer button {
        background-color: #349DA7; /* Button background color */
        color: white; /* Button text color */
        padding: 7px 11px; /* Button padding */
        border: none; /* Remove button border */
        border-radius: 5px; /* Button border radius */
    }
    
    .SortSettingcontainer button:hover {
        background-color: #ACBBDA; /* Button hover background color */
    }
   .form-select{
    width: 150px !important;
   }
   .icon{
    margin-top: -3px;
   }
   
   .queryelements{
    width: 50%;
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
   }

    .queryelements ng-multiselect-dropdown{
      width: 120px !important;
    }
 
    /* Hide the increase/decrease arrows in input[type=number] for Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the increase/decrease arrows in input[type=number] for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.inputs  {
  
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 6px;
}
    .inputs .form-control{
      width: 80px !important;
    }
    .inputs .form-control::placeholder {
      font-size: 0.9em; /* Adjust the size as needed */
      color: #999; /* Optional: Change the color of the placeholder text */
  }
  .vertical-line {
    border-left: 2px solid #999; /* Adjust color as needed */
    height: 50px; /* Adjust height as needed */
    margin: 0 10px; /* Adjust margin as needed */
    display: inline-block;
    vertical-align: middle;
  }


  .Import{

  }