

<div class="parentcontainer">
    <div class="formcontainer">
        
      
        <form   (submit)="onsubmit() " >
       
            <h2 style="text-align: center;">Renew Contract</h2>
           
            <div class="alertgroup">
               

            
        
                
                <div *ngIf="FormValid ===  false " style="color: rgb(182, 0, 0);"class="mb-2">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 72 72">
                    <path d=" M36,12c13.255,0,24,10.745,24,24c0,13.255-10.745,24-24,24S12,49.255,12,36C12,22.745,22.745,12,36,12z M39,45	c0-0.901,0-6.099,0-7c0-1.657-1.343-3-3-3c-1.657,0-3,1.343-3,3c0,0.901,0,6.099,0,7c0,1.657,1.343,3,3,3C37.657,48,39,46.657,39,45	z M36,32c2.209,0,4-1.791,4-4c0-2.209-1.791-4-4-4s-4,1.791-4,4C32,30.209,33.791,32,36,32z"></path>
                    </svg>
                    Please fill all required inputs</div>
                   
              
                <!-- <div *ngIf="CinValid === false " style="color: rgb(182, 0, 0);"class="mb-2">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 72 72">
                    <path d=" M36,12c13.255,0,24,10.745,24,24c0,13.255-10.745,24-24,24S12,49.255,12,36C12,22.745,22.745,12,36,12z M39,45	c0-0.901,0-6.099,0-7c0-1.657-1.343-3-3-3c-1.657,0-3,1.343-3,3c0,0.901,0,6.099,0,7c0,1.657,1.343,3,3,3C37.657,48,39,46.657,39,45	z M36,32c2.209,0,4-1.791,4-4c0-2.209-1.791-4-4-4s-4,1.791-4,4C32,30.209,33.791,32,36,32z"></path>
                    </svg>
                    Cin must be 8 numbers</div> -->
                </div>
            <div class="form-grid">
                <div class="form-group">
                    
                    <label for="exampleInputMatricule" ><b>Registration number</b></label>
                   
                    <input  name="RegistrationNumber"type="number"  placeholder="Matricule"class="form-control" id="RegistrationNumber" 
                    aria-describedby="MatriculeHelp" [(ngModel)]="Employee.matricule" disabled>
                    <!-- <input  [(ngModel)]="model.matricule" name="RegistrationNumber"type="number"  placeholder="Matricule"class="form-control" 
                     id="RegistrationNumber" aria-describedby="MatriculeHelp" (keyup)="checkmatricule($event); FormValid = true"> -->
                    
                </div>
               
                <div class="form-group">
                    <label for="position">Position</label>
                    <select [(ngModel)]="Employee.poste" name="position" class="form-select" id="inputGroupSelect03" aria-label="position" >
                        <option value="" disabled selected>Choose position...</option>
                        <option *ngFor="let poste of Postes" [value]="poste">{{ poste }}</option>
                    </select>
                </div>
                
                
                <div class="form-group">
                    <label for="categoriepro">Prof. Category</label>
                    <select [(ngModel)]="Employee.categoriePro" name="categoriepros" class="form-select" id="inputGroupSelect03" aria-label="categoriepro" >
                        <option value="" disabled selected>Choose Category...</option>
                        <option *ngFor="let cat of Catpro" [value]="cat">{{ cat }}</option>
                    </select>
                </div>
                
             
                <div class="form-group">
                    <label for="salaireb">Salaire Brut</label>
                    <input   type="number" class="form-control" id="salaireb" name="salaireb" [(ngModel)]="Contract.salaireb" placeholder="Salaire Brut" (keydown)="FormValid = true" required>
                </div>
                <div class="form-group">
                    <label for="salairen">Salaire Net</label>
                    <input  type="number" class="form-control" id="salairen" name="salairen" [(ngModel)]="Contract.salairen"placeholder=" Salaire Net" (keydown)="FormValid = true" required>
                </div>
                
                <div class="form-group">
                    <label for="type">Type</label>
                    <select [(ngModel)]="Contract.type" name="type" class="form-select" id="inputGroupSelect03" aria-label="type" >
                        <option value="" disabled selected>Choose type...</option>
                        <option *ngFor="let type of ContractTypes" [value]="type">{{ type }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for=">StartDate"><b>Start Date</b></label>
                    <input  type="date" class="form-control" id=">StartDate" name=">StartDate"  [(ngModel)]="formattedDateDeb"  placeholder=">Start Date"(blur)="FormValid = true" required>
                </div>
                <div class="form-group">
                    <label for=">EndDate"><b>End Date</b></label>
                    <input  type="date" class="form-control" id="EndDate" name="EndDate" placeholder="End Date"  [(ngModel)]="formattedDateFin"(blur)="FormValid = true"  required>
                </div>
            </div>
            <button type="submit" class="btn btnz mt-3" [disabled]="FormValid === false"  >Submit</button>
        </form>
    </div>
</div>
