
.parent-container {
    display: flex;
    flex-direction: column; /* Ensure items are stacked vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; 
  }
  .table {
    width: 100%;
    border-radius: 10px !important;
    overflow: hidden;
     border-spacing: 0; /* Remove spacing between cells */
    border-radius: 18px;
    --bs-table-bg: aliceblue;
    
  

  }
  .table td {
    line-height: 1; /* Adjust line height as needed */
    padding: 10px; /* Adjust padding to control spacing */
}
  .table th {
    line-height: 2.5; /* Adjust line height as needed */
    
    background-color: rgba(52, 157, 167,0.22) !important;
}

  .table-container{
    margin-top: 0px;
    margin-bottom: 10px;
    width: 90% !important; 
  
  }
  .add-user-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    
  }
 
  .add-user-container a{
    background-color: rgba(52, 125, 167, 0.7) !important;
    color: white;
    padding: 10px 20px;
  }
   .add-user-container a:hover{
      background-color: #ACBBDA !important;
      color: white;
    }
 
 
    /* Hide the increase/decrease arrows in input[type=number] for Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the increase/decrease arrows in input[type=number] for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/*- -- ---------------------------*/

.Active{
  width: 100%;
   height:  23px !important;
   pointer-events: none; /* Prevents clicking */
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
  cursor: default; /* Keeps the cursor as default (not a pointer) */
   background-color: #E9F9EE;
   color: #45C27A;
   border: #45C27A 1px solid;
   margin: 0 auto; /* Center horizontally */
}
.Soon{
  width: 100%;
   height:  23px !important;
   pointer-events: none; /* Prevents clicking */
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
  cursor: default; /* Keeps the cursor as default (not a pointer) */
   background-color: #f7f0e6;
   color: #f3a831;
   border: #f3a831 1px solid;
   margin: 0 auto; /* Center horizontally */
}
.Recently{
  width: 100%;
   height:  23px !important;
   pointer-events: none; /* Prevents clicking */
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
  cursor: default; /* Keeps the cursor as default (not a pointer) */
   background-color: #FFE4E8;
   color: #f97d79;
   border: #f97d79 1px solid;
   margin: 0 auto; /* Center horizontally */
}
.Expired{
  width: 100%;
   height:  23px !important;
   pointer-events: none; /* Prevents clicking */
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
  cursor: default; /* Keeps the cursor as default (not a pointer) */
   background-color: #cb8993;
   color: #53110f;
   border: #53110f 1px solid;
   margin: 0 auto; /* Center horizontally */
}
