/* You can add global styles to this file, and also import other style files */
body{
    background-color: #D1D9FE;
}
.icon{
    fill: currentColor;
  
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

    .mat-mdc-snack-bar-container {
        &.success-snackbar {
          
          --mdc-snackbar-container-color: #9db0e4;
          --mat-mdc-snack-bar-button-color: rgb(255, 255, 255);
          
          /* --mdc-snackbar-supporting-text-color: blue; */ /* Change the text color */
          border-radius: 8px !important;
        }
        &.mat-mdc-snack-bar-container .mdc-snackbar__surface {
          
            border-radius: 20px !important;
            width: 550px !important;
            height: 80px !important;
          }
          &.mat-mdc-snack-bar-container.success-snackbar .mat-mdc-button {
            color: rgb(98, 94, 94) !important; /* Change to your preferred color */
            padding: 2px !important;
            background-color: rgba(147, 139, 139, 0.1);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

            
            
          }
        
      }
   