

<div class="parentcontainer">
    <div class="formcontainer">
        
      
        <form (submit)="onFormSubmit()"   >
        <!-- <form  (ngSubmit)="onFormSubmit()"  > -->
            <h2 style="text-align: center;">Add Contract</h2>
           
            <div class="alertgroup">
               

            <div *ngIf="employeeExists === false;" style="color: rgb(182, 0, 0); " class="mb-2">
                <svg class="icon"xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 72 72">
                    <path  d=" M36,12c13.255,0,24,10.745,24,24c0,13.255-10.745,24-24,24S12,49.255,12,36C12,22.745,22.745,12,36,12z M39,45	c0-0.901,0-6.099,0-7c0-1.657-1.343-3-3-3c-1.657,0-3,1.343-3,3c0,0.901,0,6.099,0,7c0,1.657,1.343,3,3,3C37.657,48,39,46.657,39,45	z M36,32c2.209,0,4-1.791,4-4c0-2.209-1.791-4-4-4s-4,1.791-4,4C32,30.209,33.791,32,36,32z"></path>
                    </svg>
                    Employee with this id dont exist</div>
           
            <div *ngIf="ContractExists === true " style="color: rgb(182, 0, 0);"class="mb-2">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 72 72">
                <path d=" M36,12c13.255,0,24,10.745,24,24c0,13.255-10.745,24-24,24S12,49.255,12,36C12,22.745,22.745,12,36,12z M39,45	c0-0.901,0-6.099,0-7c0-1.657-1.343-3-3-3c-1.657,0-3,1.343-3,3c0,0.901,0,6.099,0,7c0,1.657,1.343,3,3,3C37.657,48,39,46.657,39,45	z M36,32c2.209,0,4-1.791,4-4c0-2.209-1.791-4-4-4s-4,1.791-4,4C32,30.209,33.791,32,36,32z"></path>
                </svg>
                Employee Has Contract 
               
            </div>
                
                <div *ngIf="FormValid === false " style="color: rgb(182, 0, 0);"class="mb-2">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 72 72">
                    <path d=" M36,12c13.255,0,24,10.745,24,24c0,13.255-10.745,24-24,24S12,49.255,12,36C12,22.745,22.745,12,36,12z M39,45	c0-0.901,0-6.099,0-7c0-1.657-1.343-3-3-3c-1.657,0-3,1.343-3,3c0,0.901,0,6.099,0,7c0,1.657,1.343,3,3,3C37.657,48,39,46.657,39,45	z M36,32c2.209,0,4-1.791,4-4c0-2.209-1.791-4-4-4s-4,1.791-4,4C32,30.209,33.791,32,36,32z"></path>
                    </svg>
                    Please fill all required inputs</div>
                     <a class="btno m-2 btn" (click)="navigateToRenew()"  *ngIf="ContractExists === true " >
                <svg class="icon " xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 24 24">
                    <path  d="M12,2C6.477,2,2,6.477,2,12s4.477,10,10,10s10-4.477,10-10S17.523,2,12,2z M15,13h-2v2c0,0.552-0.448,1-1,1h0 c-0.552,0-1-0.448-1-1v-2H9c-0.552,0-1-0.448-1-1v0c0-0.552,0.448-1,1-1h2V9c0-0.552,0.448-1,1-1h0c0.552,0,1,0.448,1,1v2h2 c0.552,0,1,0.448,1,1v0C16,12.552,15.552,13,15,13z"></path>
                </svg>
                Renew instead</a>
              
                <!-- <div *ngIf="CinValid === false " style="color: rgb(182, 0, 0);"class="mb-2">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 72 72">
                    <path d=" M36,12c13.255,0,24,10.745,24,24c0,13.255-10.745,24-24,24S12,49.255,12,36C12,22.745,22.745,12,36,12z M39,45	c0-0.901,0-6.099,0-7c0-1.657-1.343-3-3-3c-1.657,0-3,1.343-3,3c0,0.901,0,6.099,0,7c0,1.657,1.343,3,3,3C37.657,48,39,46.657,39,45	z M36,32c2.209,0,4-1.791,4-4c0-2.209-1.791-4-4-4s-4,1.791-4,4C32,30.209,33.791,32,36,32z"></path>
                    </svg>
                    Cin must be 8 numbers</div> -->
                </div>
            <div class="form-grid">
                <div class="form-group">
                    
                    <label for="exampleInputMatricule" ><b>Registration number</b></label>
                   
                    <input  name="RegistrationNumber"type="number"  placeholder="Matricule"class="form-control" id="RegistrationNumber" 
                    aria-describedby="MatriculeHelp" (keyup)="CheckValidity($event)"  (keydown)="clearinput()" (blur)="CheckValidity($event)">
                    <!-- <input  [(ngModel)]="model.matricule" name="RegistrationNumber"type="number"  placeholder="Matricule"class="form-control" 
                     id="RegistrationNumber" aria-describedby="MatriculeHelp" (keyup)="checkmatricule($event); FormValid = true"> -->
                    
                </div>
                <div class="form-group">
                    <label for="cin">CIN</label>
                  
                    <input   type="text" class="form-control" type="number"id="cin" name="cin" placeholder="--" [(ngModel)]="Employee.cin"  disabled>
                </div>
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input   type="text" class="form-control" id="nom" name="nom" placeholder="--"  [(ngModel)]="Employee.nom" disabled>
                </div>
                <div class="form-group">
                    <label for="prenom">Prenom</label>
                    <input    type="text" class="form-control" id="prenom" name="prenom" placeholder="--"  [(ngModel)]="Employee.prenom"disabled>
                </div>
                <div class="form-group">
                    <label for="poste">Poste</label>
                    <input  type="text" class="form-control" id="poste" name="poste" placeholder="--"  [(ngModel)]="Employee.poste" disabled>
                </div>
                <div class="form-group">
                    <label for="adresse">Adresse</label>
                    <input   type="text" class="form-control" id="adresse" name="adresse" placeholder="--"  [(ngModel)]="Employee.adresse" disabled>
                </div>
                <div class="form-group">
                    <label for="dateNaissance">Date de Naissance</label>
                    <input  type="date" class="form-control" id="dateNaissance" name="dateNaissance"  [(ngModel)]="formattedDateNaissance" disabled>
                </div>
                <div class="form-group">
                    <label for="lieuNaissance">Lieu de Naissance</label>
                    <input type="text" class="form-control" id="lieuNaissance" name="lieuNaissance" placeholder="--"  [(ngModel)]="Employee.lieuNaissance" disabled>
                </div>
               
                <div class="form-group">
                    <label for="dateCin">Date de CIN</label>
                    <input   type="date" class="form-control" id="dateCin" name="dateCin" [(ngModel)]="formattedDateCin" disabled >
                </div>
                <div class="form-group">
                    <label for="categoriePro">Categorie Professionelle</label>
                    <input   type="text" class="form-control" id="categoriePro" name="categoriePro" placeholder="--"  [(ngModel)]="Employee.categoriePro" disabled>
                </div>
                <div class="form-group">
                    <label for="salaireb">Salaire Brut</label>
                    <input   type="number" class="form-control" id="salaireb" name="salaireb" [(ngModel)]="Contract.salaireb" placeholder="Salaire Brut" (keydown)="FormValid = true" required>
                </div>
                <div class="form-group">
                    <label for="salairen">Salaire Net</label>
                    <input  type="number" class="form-control" id="salairen" name="salairen" [(ngModel)]="Contract.salairen"placeholder=" Salaire Net" (keydown)="FormValid = true" required>
                </div>
                
                <div class="form-group">
                    <label for="type">Type</label>
                    <select [(ngModel)]="Contract.type" name="type" class="form-select" id="inputGroupSelect03" aria-label="type" >
                        <option value="" disabled selected>Choose type...</option>
                        <option *ngFor="let type of ContractTypes" [value]="type">{{ type }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for=">StartDate"><b>Start Date</b></label>
                    <input  type="date" class="form-control" id=">StartDate" name=">StartDate"  [(ngModel)]="Contract.datedeb"  placeholder=">Start Date"(blur)="FormValid = true" required>
                </div>
                <div class="form-group">
                    <label for=">EndDate"><b>End Date</b></label>
                    <input  type="date" class="form-control" id="EndDate" name="EndDate" placeholder="End Date"  [(ngModel)]="Contract.dateFin"(blur)="FormValid = true"  required>
                </div>
            </div>
            <button type="submit" class="btn btnz mt-3" [disabled]="employeeExists === false || ContractExists === true "  >Submit</button>
        </form>
    </div>
</div>
